-
	var upload = 'assets/upload/';
	var image = 'assets/image/';
	var menu_items = ['Курсы обучения', 'Вебинары', 'Видео-уроки', 'Блог', 'О нас', 'Прайс', 'Рассписание', 'Акции', 'Магазин'];

header.header

		


		